@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
html {
    scroll-behavior: smooth;
}

.web {
    margin: 0;
    padding: 0;
    width: 100%;
}

.bss {
    height: 100px;
    color: blue;
}

#obsah {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 0;
    padding-top: 0;
    position: absolute;
    left: 0;
    top: 15%;
}

#section1 {
    width: 100%;
    height: 1000px;
    border-radius: 20px;
    background-color: cornflowerblue;
}

#section2 {
    margin-top: 20px;
    width: 100%;
    height: 1000px;
    border-radius: 20px;
    background-color: cornflowerblue;
}

#section3 {
    margin-top: 20px;
    width: 100%;
    height: 1000px;
    border-radius: 20px;
    background-color: cornflowerblue;
}

ul li {
    list-style: none;
}

.m1 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 4%;
    width: 15%;
    height: 40px;
    position: fixed;
    z-index: 1;
    background-color: black;
    border-radius: 20px;
    text-align: center;
}

.m2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 7%;
    width: 15%;
    position: fixed;
    z-index: 100;
    color: black;
}

.m3 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10%;
    width: 15%;
    position: fixed;
    z-index: 100;
    color: black;
    margin-top: 10px;
}

#navigaceleft {
    border-radius: 20px;
    background-color: blueviolet;
    width: 200px;
    position: relative;
}